data/nq_corpus.json filter=lfs diff=lfs merge=lfs -text
data/popqa_corpus.json filter=lfs diff=lfs merge=lfs -text
data/qmsum_train.jsonl filter=lfs diff=lfs merge=lfs -text
data/wcep.txt filter=lfs diff=lfs merge=lfs -text
data/hotpotqa.json filter=lfs diff=lfs merge=lfs -text
data/infinitybench_longbook.jsonl filter=lfs diff=lfs merge=lfs -text
data/musique.json filter=lfs diff=lfs merge=lfs -text
data/musique_corpus.json filter=lfs diff=lfs merge=lfs -text
data/2wikimultihopqa.json filter=lfs diff=lfs merge=lfs -text
data/2wikimultihopqa_corpus.json filter=lfs diff=lfs merge=lfs -text
data/multihoprag.json filter=lfs diff=lfs merge=lfs -text
data/narrativeqa.json filter=lfs diff=lfs merge=lfs -text
data/multihoprag_corpus.json filter=lfs diff=lfs merge=lfs -text
data/narrativeqa_corpus.json filter=lfs diff=lfs merge=lfs -text
data/qmsum.jsonl filter=lfs diff=lfs merge=lfs -text
data/hotpotqa_corpus.json filter=lfs diff=lfs merge=lfs -text
data/nq.json filter=lfs diff=lfs merge=lfs -text
data/popqa.json filter=lfs diff=lfs merge=lfs -text
